html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 200px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #222;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8) inset;
  padding: 20px;
  color: #EEE;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: square;
}

ul ul li:last-child {
  color: #004CFF;
}
